<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3 text-right">
            <button routerLink="/posts" mat-raised-button color="primary"><u>Go To DashBoard</u></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-warning">
                        {{isInEdtMode ? 'Update Post' : 'Add Post'}}
                    </h2>
                    <form [formGroup]="postForm" (ngSubmit)="onPostAdd()">
                        <div class="form-group">
                            <label for="title">Title<sup class="text-danger">*</sup></label>
                            <input formControlName="title" type="text" class="form-control">

                            <strong class="text-danger" *ngIf="title.touched && title.hasError('required')">
                                Title is an Required Field!!!
                            </strong>
                        </div>

                        <div class="form-group">
                            <label for="content">Content<sup class="text-danger">*</sup></label>
                            <textarea formControlName="content" rows="3" type="text" class="form-control"></textarea>

                            <strong class="text-danger" *ngIf="content.touched && content.hasError('required')">
                                Content is an Required Field!!!
                            </strong>
                        </div>

                        <button
                        *ngIf="!isInEdtMode"
                        class="btn-block" mat-raised-button color="primary">Add Post</button>
                        <button
                        *ngIf="isInEdtMode"
                        (click)="onUpdatePost()"
                        type="button" class="btn-block" mat-raised-button color="accent">Update Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>